@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.header {
    height: 88px;
    background-color: #1B6392;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__imageLogo {
    width: 48px;
    height: 48px;
    background-image: url('../../assets/logo.svg');
}
.header__nameLogo {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}
.header__search {
    width: 646px;
    position: relative;
    border-radius: 2px;
    margin: 20px;
}
.header__search input{
    width: 100%;
    height: 48px;
    padding: 14px 20px;
    outline: none;
    font-size: 18px;
}
.header__nav {
    width: 144px;
    height: 48px;
}
.header__searchImg {
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/search.svg');
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: right;
}
.header__basket {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/basket.svg');
}
.header__contacts {
    display: flex;
    align-items: center;
}
.header__contactsPhoneImg {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/phone.svg');
}