.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.cart__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.cart__logo img {
    width: 50px;
    height: 60px;
}
.header__sizeBasket {
    position: relative;
    left: 4px;
}