.header {
    height: 133px;
    background: linear-gradient(90deg, rgba(182,212,117,1) 0%, rgba(11,125,67,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 20%;
}
.header__logo {
    font-size: 26px;
}
.nav {
    display: flex;
    gap: 24px;

}
.nav__item {
    font-family: Tahoma;
    font-size: 18px;
}
.nav__item:hover {
    color: rgba(255, 255, 255, 0.8);  
}