.inputDashboard {
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    justify-content: space-between;
}
.inputDashboard label {
    width: 110px;
}
.inputDashboard input {
    height: 28px;
    width: 183px;
    font-size: 14px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}